<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%
    var action='',boton='';
    if(_id){
        action='edit/'+_id;
        boton='Editar'
        %>Nuevo empleado<%
    }else
    {
        action='nuevo';
        boton='Enviar';
        %>Editar empleado<%
    }
    %>
    <form action="/personal/<%=action%>" method="post">
        <input type="text" name="nombre" value="<%=nombre%>"  id="">
        <div style="color: red;">
            <%= error && error.errors['nombre']?error.errors['nombre'].message:''%>
        </div>
        <input type="text" name="apellido" value="<%=apellido%>"  id="">
        <div style="color: red;">
            <%= error && error.errors['apellido']?error.errors['apellido'].message:''%>
        </div>
        <input type="text" name="ci" value="<%=ci%>"  id="">
        <div style="color: red;">
            <%= error && error.errors['ci']?error.errors['ci'].message:''%>
        </div>
        <input type="submit" value="<%=boton%>">
    </form>
</body>
</html>

